[package]
name = "pecan-providers"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait.workspace = true
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true
reqwest.workspace = true
